# dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# env files
.env
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# pokemon images are downloaded at build time, exclude from git
public/pokemon/
